.FeaturedCategories .title{
    padding-top:7rem;
   }
   .card-text{
    background: white;
    box-shadow: 0px 2px 8px 2px #ccc;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    height: 5rem;
  }

  .ProdImg{
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    width: 28rem;
    height: 12rem;
    border: 2px solid #dddcdc;
  }
  hr{
    background-color: #f7d035;
    width: 7rem;
    height: 4px;
    margin: auto;
  }